{% extends 'base.html' %}
{% block extra_head %}
{% endblock %}
{% block title %}By Reference{% endblock %}
{% block content %}
<h2>Hello, <span style="color:blue;"><i><a href="/professor-details/{{ prof.id }}/">{{ prof.name }}</a>! </i></span> these are people you should collaborate with in this conference on the basis of you refered to whose paper how many times -</h2>
<p>
    <ul>
    {% for p in participants %}
        <li>
        You have refered to <span style="color:blue;">{{ p.count }} papers</span> of <span style="color:blue"><a href="/professor-details/{{ p.professor.id }}/">{{ p.professor.name }}</a></span> from <span style="color:blue;">{{ p.professor.university }}</span>.
        <br/><br/>
        &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:blue"><u><i>Detail of papers -</i></u></span>
        <ul style="margin:10px 40px;">
        {% for paper in paper_list %}
            {% if p.professor in paper.referers %}
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ paper.title }}</li>
            {% endif %}
        {% endfor %}
        </ul>
        <br/>
        </li>
    {% endfor %}
    </ul>
</p>
{% endblock %}
